<!DOCTYPE html>
<html>
<head>
<title>Flask Test for Frappe</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>

    {% include 'partials/header.html' %}

    <div class="max-w-screen-xl mx-auto">
    {% block content %}

        {% block sub_content %}
        {% endblock %}

    {% endblock %}
    </div>
</body>
</html>
