{% extends 'base.html' %}
{% block sub_content %}
    <div><a href="/product/list">Back to Product List</a></div>
    {% if data['count'] == 0 %}
    <div class="">
        No such Product
    </div>
    {% else %}
        <h1>
            {{ data['pid'] }}. {{ data['name'] }}
            <a href="/product/edit/{{ data['pid'] }}">Edit</a>
        </h1>
        <div>
            <h2>Availability</h2>
            <div>
                <table border="1">
                    <tr>
                        <th>Location</th>
                        <th>Quantity</th>
                    </tr>
                    {% for location in data["Location"] %}
                    <tr>
                        <td>{{ location }}</td>
                        <td>{{ data["Location"][location] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
